---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
    <Row>
        <Col span="4">
            <Card
                    title="AI-Driven Healthcare Optimization"
                    subtitle="Leverage Wheelhouse AI CoE to drive intelligent automation, improve workflows, and enhance decision-making across your healthcare operations."
                    image={feature01}
                    link="/features"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                    title="Smarter Provider Support"
                    subtitle="Provider Support Copilot simplifies administrative tasks, helping clinicians focus on patient care with AI-powered assistance."
                    image={feature02}
                    link="/features"
            />
            <Card
                    title="Optimize RVU Management"
                    subtitle="Intelligent RVU Agent automates RVU tracking and ensures accurate provider compensation, reducing manual effort and errors."
                    image={feature03}
                    link="/features"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                    title="Effortless CMS Compliance"
                    subtitle="CMS Compliance Agent helps you stay ahead of regulatory changes, ensuring seamless adherence to evolving healthcare policies."
                    image={feature04}
                    link="/features"
            />
            <Card
                    title="Expert-Led Strategic Advisory"
                    subtitle="Our Strategic Advisory Services provide tailored insights and AI-driven strategies to optimize healthcare operations and financial performance."
                    image={feature05}
                    link="/features"
            />
        </Col>
    </Row>

</Section>
