---
// Feature Section with sticky sidebar
// ------------
// Description: A section with the header as a sticky sidebar and features with icons and descriptions in a 3 column layout.

// Components
// - Layout
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import StickySidebar from '../basic/StickySidebar.astro'
// - UI
import Feature from '../../ui/Feature.astro'

// Props
type FeatureData = {
	title: string
	icon: string
	description: string
}
type Props = {
	title: string
	text?: string
	data: FeatureData[]
	classes?: string
	id?: string
}
const { title, text, data, classes, id } = Astro.props
---

<section id={id} class="section-padding scroll-mt-24">
  <StickySidebar classes=`${classes} px-10 py-20`>
    <header slot="sidebar" class="fade-in-bottom">
      {title && <h3 class="text-3xl">{title}</h3>}
      {text && <p class="text-lg leading-relaxed">{text}</p>}
    </header>

    <Row>
      {
        // Map through the filtered features and render them
        data.map((feature: FeatureData, index) => (
          <Col span="4">
            <Feature 
              title={feature.title} 
              icon={feature.icon} 
              align="left" 
              classes={`mb-12 fade-in ${index % 3 === 0 ? 'delay-100' : index % 3 === 1 ? 'delay-200' : 'delay-300'}`}
            >
              {feature.description}
            </Feature>
          </Col>
        ))
      }
    </Row>
  </StickySidebar>
</section>
